<div class="center">
  <p>patient-list works!</p>
</div>

<div class="container">
  <tr *ngFor="let patient of patients">
    <td> {{patient.firstName }} </td>
    <td> {{patient.lastName }} </td>
    <td> {{patient.dateOfBirth }} </td>
    <td> {{patient.telephoneNumber }} </td>
    <!--      <td>-->
    <!--        <button (click) = "updateEmployee(employee.id)" class = "btn btn-info"> Update</button>-->
    <!--        <button (click) = "deleteEmployee(employee.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>-->
    <!--        <button (click) = "employeeDetails(employee.id)" class = "btn btn-info" style="margin-left: 10px"> View</button>-->
    <!--      </td>-->
  </tr>
</div>
<div class="mb-3" style="width: 30rem">
  <label for="patientFirstName" class="form-label">VARDAS</label>
  <input type="text" class="form-control" id="patientFirstName" placeholder="....Jūsų vardas ">
</div>
<div class="mb-3" style="width: 30rem">
  <label for="patientLastName" class="form-label">PAVARDĖ</label>
  <input type="text" class="form-control" id="patientLastName" placeholder="....Jūsų pavardė ">
</div>
<div class="mb-3" style="width: 30rem">
  <label for="patientDayOfBirth" class="form-label">GIMIMO DATA ( METAI-MĖNUO-DIENA)</label>
  <input type="text" class="form-control" id="patientDayOfBirth" placeholder="....Jūsų gimimo data metai-mėnuo-diena">
</div>
<div class="mb-3" style="width: 30rem">
  <label for="patientPhoneNumber" class="form-label">TELEFONO NUMERIS +370 000 0000</label>
  <input type="text" class="form-control" id="patientPhoneNumber"
         placeholder="....Jūsų telefono numeris +370 ooo oooo ">
</div>

<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Patikslinkite prašau vizito tikslą</label>
  <textarea class="form-control" id="exampleFormControlTextarea1"
            placeholder="Kreipiuosi dėl ...  " rows="3"></textarea>
</div>


