<!--<div >-->
<!--  <p>patient-list works!</p>-->
<!--</div>-->
<p>Registruoti pacientai: </p>
<div class="container">
  <tr *ngFor="let patient of patients">
    <td> {{patient.firstName }} </td>
    <td> {{patient.lastName }} </td>
    <td> {{patient.dateOfBirth }} </td>
    <td> {{patient.telephoneNumber }} </td>
  </tr>
</div>

<h5 class="text"> Paciento duomenys</h5>
<form #patientForm="ngForm" (ngSubmit)="onAddPatient(patientForm.value)">

<div class="mb-3" style="width: 24rem">
  <label for="firstName" class="form-label">VARDAS</label>
  <input type="text" ngModel name="firstName" class="form-control" id="firstName"
         placeholder="vardo įrašymo vieta" required>
</div>
<div class="mb-3" style="width: 24rem">
  <label for="lastName" class="form-label">PAVARDĖ</label>
  <input type="text" ngModel name="lastName" class="form-control" id="lastName"
         placeholder="pavardės įrašymo vieta" required>
</div>
<div class="mb-3" style="width: 24rem" data-date-format="yyyy-mm-dd">
  <label for="dateOfBirth" class="form-label">GIMIMO DATA ( pasirinkite kalendoriuje )</label>
  <input type="date" ngModel name="dateOfBirth" class="form-control" id="dateOfBirth" required>
</div>


<div class="mb-3" style="width: 24rem">
  <label for="telephoneNumber" class="form-label">TELEFONO NUMERIS (pavyzdžiui +370 000 0000)</label>
  <input type="text" ngModel name="telephoneNumber" class="form-control" id="telephoneNumber"
         placeholder="telefono numerio įrašymo vieta" required>
</div>

<div class="col-12 ">
  <button [disabled]="patientForm.invalid" type="submit" class="btn btn-primary">Patvirtinti</button>
</div>
</form>

