<h2 class="text-center"> {{registrationTitle}}</h2>
<h3 class="text-center"> {{selectDoctor}}</h3>


<div class= "container">
  <app-doctor-list></app-doctor-list>

  <app-registration-list></app-registration-list>
  <app-patient-list></app-patient-list>
  <div class="col-12 center ">
<!--    [disabled]="addForm.invalid"-->
<!--    <button (click)="registrationDone = 'Užsiregistravote, ačiū'"  type="submit" class="btn btn-secondary">Patvirtinu</button>-->

  </div>
  <h3 class="text-center"> {{registrationDone}}</h3>
</div>

