<!--<div>-->
<!--  <p>registration-list works!</p>-->
<!--</div>-->
<h5 class="text-center"> {{registrationFormTitle}}</h5>

<h5 class="text"> Registracijos duomenu įvedimas</h5>
<form #regForm="ngForm" (ngSubmit)="onAddRegistration(regForm.value)">
  <div class="mb-3" style="width: 24rem">
    <label for="date" class="form-label">DATA</label>
    <input type="text" ngModel name="date" class="form-control" id="date"
           placeholder="datos įrašymo vieta" required>
  </div>
  <div class="mb-3" style="width: 24rem">
    <label for="time" class="form-label">LAIKAS</label>
    <input type="text" ngModel name="time" class="form-control" id="time"
           placeholder="laiko įrašymo vieta" required>
  </div>
  <div class="mb-3" style="width: 24rem" data-date-format="yyyy-mm-dd">
    <label for="purpose" class="purpose">PIRMAS/PAKARTOTINAS/PROCEDŪRA</label>
    <input type="text" ngModel name="purpose" class="form-control" id="purpose"
           placeholder="vizito rūšies įrašymo vieta"required>
  </div>
  <div class="mb-3" style="width: 24rem">
    <label for="message" class="form-label">VIZITO PRIEŽASTIS</label>
    <input type="text" ngModel name="message" class="form-control" id="message"
           placeholder="vizito tikslo įrašymo vieta" required>
  </div>
  <div class="col-12 ">
    <button [disabled]="regForm.invalid" type="submit" class="btn btn-primary">Patvirtinti</button>
  </div>
</form>

<!--<div class="container">-->
<!--  <div class="row justify-content-center">-->
<!--    <div class="col-xl-2 col-md-5 center" *ngFor="let doctor of doctors">-->
<!--      <div class="team">-->
<!--        <div class="team-avatar">-->
<!--          <img class="w-100" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">-->
<!--        </div>-->
<!--        <div>-->
<!--          <input type="checkbox" class="btn-check" id="btnDoctorCheck" autocomplete="off">-->
<!--          <label class="btn btn-outline-secondary" for="btnDoctorCheck">{{doctor.doctorName}}-->
<!--            {{doctor.doctorSpecialization}}</label>-->
<!--        </div>-->
<!--        &lt;!&ndash;Ant paveiksliuko isdidejantis pavadinimas&ndash;&gt;-->
<!--        &lt;!&ndash;          <div class="team-content">&ndash;&gt;-->
<!--        &lt;!&ndash;            <div class="team-content-inner">&ndash;&gt;-->
<!--        &lt;!&ndash;              <div class="d-flex">&ndash;&gt;-->
<!--        &lt;!&ndash;                <div class="team-info">&ndash;&gt;-->
<!--        &lt;!&ndash;                  <h5 class="mb-0"><a href="#" class="avatar-name"> {{doctor.doctorName}} </a></h5>&ndash;&gt;-->
<!--        &lt;!&ndash;                  <span class="team-position">{{doctor.doctorSpecialization}}</span>&ndash;&gt;-->
<!--        &lt;!&ndash;                </div>&ndash;&gt;-->
<!--        &lt;!&ndash;              </div>&ndash;&gt;-->
<!--        &lt;!&ndash;            </div>&ndash;&gt;-->
<!--        &lt;!&ndash;          </div>&ndash;&gt;-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--    <form #addFormReg="ngForm" (ngSubmit)="getDoctors(addFormReg)">-->



<!--    <form #addFormReg="ngForm" (ngSubmit)="onAddRegistration(addFormReg.value)">-->
<!--    <div class="col-sm mb-3">-->
<!--      <select class="form-select" multiple aria-label="multiple select example">-->
<!--        <option value="pirmine">1. PIRMINĖ KONSULTACIJA</option>-->
<!--        <option value="pakartotinė">2. PAKARTOTINĖ KONSULTACIJA</option>-->
<!--        <option value="procedūra">3. REGISTRACIJA PROCEDŪRAI</option>-->
<!--      </select>-->
<!--    </div>-->
<!--      <div class="col-12 ">-->
<!--      <button [disabled]="addFormReg.invalid" type="submit" class="btn btn-secondary">Patvirtinti pasirinkimą</button>-->
<!--      </div>-->
<!--    </form>-->


<!--    <div class="mb-3">-->
<!--      <label for="message" class="form-label">Patikslinkite prašau vizito tikslą</label>-->
<!--      <textarea type="text" ngModel name="message" class="form-control" id="message"-->
<!--                placeholder="Pavyzdžiui: Kreipiuosi dėl ...  " rows="3"></textarea>-->
<!--    </div>-->

<!--    <div class="container">-->
<!--      <div class="col-12 center ">-->
<!--        &lt;!&ndash;      [disabled]="addForm.invalid"&ndash;&gt;-->
<!--        <button (click)="registrationDone = 'Užsiregistravote, ačiū'" type="submit" class="btn btn-secondary">-->
<!--          Patvirtinu-->
<!--        </button>-->
<!--      </div>-->
<!--      <h3 class="text-center"> {{registrationDone}}</h3>-->
<!--    </div>-->


<p>Registracijos iš DB</p>
<div class="container">
  <div *ngFor="let registration of registrations">
    <td> Reg Id: {{registration.id }} </td>
    <td> _Patient Id: {{registration.registration_id }} </td>
    <td> _Doctor Id: {{registration.firstName }} </td>
    <td> _Date: {{registration.date }} </td>
    <td> _Time: {{registration.time }} </td>
    <td> _Purpose: {{registration.purpose }} </td>
    <td> _Message: {{registration.message }} </td>
  </div>
</div>

