<!--<div >-->
<!--  <p>Gydytojų aplinka-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</p>-->
<!--</div>-->

<!--<form #doctorUpdateForm="ngForm" >-->
<!--  <label for="doctorGet">Pasirinkite redaguojamą gydytoją iš sąrašo</label>-->
<!--  <select id="doctorGet" ngModel name="doctor" class="form-control" multiple aria-label="multiple select example" required>-->
<!--    <option *ngFor="let doctor of doctors" [value]="[doctor.doctorName]">-->
<!--      {{doctor.doctorName}} ( {{doctor.doctorSpecialization }} )-->
<!--    </option>-->
<!--  </select>-->
<!--&lt;!&ndash;  <div class="col-12 ">&ndash;&gt;-->
<!--&lt;!&ndash;    <button ngModel="doc" type="submit" class="btn btn-secondary">Redaguoti</button>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--</form>-->

<h5 class="text-center"> {{selectDoctorFormTitle}}</h5>
<form #doctorUpdateForm="ngForm" (ngSubmit)="onUpdateDoctor(doctorUpdateForm.value)">
  <label for="doctorUpdate">Pasirinkite gydytoją iš sąrašo</label>
  <select id="doctorUpdate" ngModel name="doctor" class="form-control" multiple aria-label="multiple select example" required>
    <option *ngFor="let doctor of doctors" [value]="[doctor.doctorName]">
      {{doctor.doctorName}} ( {{doctor.doctorSpecialization }} )
    </option>
  </select>
  <div class="col-12 ">
    <button [disabled]="doctorUpdateForm.invalid" type="submit" class="btn btn-secondary">Patvirtinti pasirinkimą</button>
  </div>
</form>


<!--<form #doctorForm="ngForm" (ngSubmit)="onDeleteDoctor(doctorForm.value)">-->
<!--  <label for="doctor">Pasirinkite gydytoją iš sąrašo</label>-->
<!--  <select id="doctor" ngModel name="doctor" class="form-control" multiple aria-label="multiple select example" required>-->
<!--    <option *ngFor="let doctor of doctors" [value]="[doctor.doctorName]">-->
<!--      {{doctor.doctorName}} ( {{doctor.doctorSpecialization }} )-->
<!--    </option>-->
<!--  </select>-->
<!--<div class="col-12 ">-->
<!--  <button [disabled]="doctorForm.invalid" type="submit" class="btn btn-warning">Ištrinti</button>-->
<!--</div>-->
<!--</form>-->

<p>Gydytojų sąrašas:</p>
<div class="container">
  <tr *ngFor="let doctor of doctors" >
    <td> Vardas ir pavardė: {{doctor.doctorName }} </td>
    <td> _ specializacija: {{doctor.doctorSpecialization }} </td>
  </tr>
</div>

<!--<div class="container">-->
<!--  <div class="row justify-content-center">-->
<!--    <div class="col-xl-2 col-md-5 center" *ngFor="let doctor of doctors">-->
<!--      <div class="team">-->
<!--        <div class="team-avatar">-->
<!--          <img class="w-100" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">-->
<!--        </div>-->
<!--        <div>-->
<!--          <input type="checkbox" class="btn-check" id="btnDoctorCheck" autocomplete="off">-->
<!--          <label class="btn btn-outline-secondary" for="btnDoctorCheck">{{doctor.doctorName}}-->
<!--            {{doctor.doctorSpecialization}}</label>-->
<!--        </div>-->
<!--        &lt;!&ndash;Ant paveiksliuko isdidejantis pavadinimas&ndash;&gt;-->
<!--        &lt;!&ndash;          <div class="team-content">&ndash;&gt;-->
<!--        &lt;!&ndash;            <div class="team-content-inner">&ndash;&gt;-->
<!--        &lt;!&ndash;              <div class="d-flex">&ndash;&gt;-->
<!--        &lt;!&ndash;                <div class="team-info">&ndash;&gt;-->
<!--        &lt;!&ndash;                  <h5 class="mb-0"><a href="#" class="avatar-name"> {{doctor.doctorName}} </a></h5>&ndash;&gt;-->
<!--        &lt;!&ndash;                  <span class="team-position">{{doctor.doctorSpecialization}}</span>&ndash;&gt;-->
<!--        &lt;!&ndash;                </div>&ndash;&gt;-->
<!--        &lt;!&ndash;              </div>&ndash;&gt;-->
<!--        &lt;!&ndash;            </div>&ndash;&gt;-->
<!--        &lt;!&ndash;          </div>&ndash;&gt;-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<div class= "container">-->
<!--  <div class="col-12 center ">-->
<!--    &lt;!&ndash;    [disabled]="addForm.invalid"&ndash;&gt;-->
<!--    <button (click)="registrationDone = 'Užsiregistravote, ačiū'"  type="submit" class="btn btn-secondary">Patvirtinu</button>-->
<!--  </div>-->
<!--  <h3 class="text-center"> {{registrationDone}}</h3>-->
<!--</div>-->
